footer.site-footer
  .container
    p © 2019 Seed Global Health, a 501(c)3 non-profit. All rights reserved.
      br 
      | 20 Ashburton Place • 6th Floor • Boston, MA 02108
      br
      | (617) 366-1650
