.site-header
  .container
    h1.site-logo 
      img(src="../images/logo@3x.png", alt="2020 International Year of the Nurse and Midwife")
      span.logo-text 2020 International Year of the Nurse and Midwife