// Theme Colors
$color-red: #d80821;
$color-blue: #104c91;
$color-teal: #5abeba;
$color-yellow: #fed066;
$color-black: #000;
$color-charcoal: #434244;
$color-gray: #696d70;
$color-light-gray: #c5d2e0;
$color-pale-gray: #f0f3fb;
$color-white: #fff;
